
<div class="jumbotron">
  <h1>Travel!</h1>

  <p class="lead">Want to work with skillful, dependable and fun developers?</p>

  <a class="btn btn-large btn-success" href="http://www.odesk.com/users/~~0c0c439c64fd9a77">Hire us today!</a>
</div>
